@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, a {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
}

#top-section {
  position: relative;
  background-image: url("images/maxresdefault.png");
  background-size: cover;
  background-position-y: 30%;
  height: 100vh;
  width: 100%;
}

#top-section #links {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top-section #links .logo {
  width: 200px;
}

#top-section #links .logo img {
  width: 100%;
}

#top-section #links nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 60px;
}

#top-section #links nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 10px;
}

#top-section #links nav a:hover {
  border-bottom: 1px solid #ffffff;
}

#top-section .container {
  position: absolute;
  max-width: 450px;
  height: 400px;
  top: 20%;
  left: 10%;
}

#top-section .container #signature p {
  font-size: 8.5rem;
  font-family: 'Pacifico', cursive;
}

#top-section .container #hot-track {
  width: 90%;
  text-align: center;
}

#bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 50px;
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#434343), color-stop(#232526), to(#000000));
  background: linear-gradient(to top, #434343, #232526, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#bio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  max-width: 1400px;
}

#bio img {
  position: absolute;
  width: 20%;
  right: 20%;
  top: 10%;
  opacity: .6;
}

#bio p {
  color: #ccc;
  width: 50%;
  line-height: 1.8;
  font-size: .9rem;
  margin: 0 auto;
  z-index: 1;
}

#bio .on-stage {
  max-width: 40%;
  min-width: 40%;
  height: 100%;
  background-image: url("images/j.cole.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

#media {
  padding: 50px 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url("images/audience-band-concert-1105666.jpg");
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("images/audience-band-concert-1105666.jpg");
  background-size: cover;
}

#media .title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

#media .videos {
  background-size: cover;
  padding: 40px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 340px;
  grid-gap: 20px;
}

#media .videos .video {
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
}

#media .videos .video iframe {
  width: 100%;
  height: 100%;
}

#music {
  padding: 60px 0;
  position: relative;
  background-color: black;
}

#music .blur-bg {
  background-image: linear-gradient(45deg, #fffd3c 0%, rgba(176, 38, 183, 0.27) 68%, rgba(125, 185, 232, 0) 100%), url("images/KOD-album-art.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(20px) saturate(110%);
          filter: blur(20px) saturate(110%);
  position: absolute;
  z-index: 3;
}

#music .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
  position: relative;
  z-index: 3;
  padding-top: 20px;
}

#music .container .info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music .container .info .title {
  font-size: 3.4rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 15px;
}

#music .container .info .sub-title {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

#music .container .info #tracks {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 10px;
  margin-bottom: 40px;
}

#music .container .info #tracks li {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

#music .container .info .logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#music .container .album-cover {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music .container .album-cover img {
  width: 90%;
}

#tour {
  background: #000000;
  position: relative;
  z-index: 4;
}

#tour .top-img {
  background: url("images/162617.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 5%;
  -webkit-filter: saturate(0%) contrast(110%);
          filter: saturate(0%) contrast(110%);
}

#tour .tour-dates {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

#tour .tour-dates .title {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 0 0 40px;
}

#tour .tour-dates .dates {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#tour .tour-dates .dates li {
  color: #ffffff;
  font-size: 1.3rem;
  padding: 0 10px;
}

#tour .tour-dates .dates li span {
  padding: 0 10px;
}

#tour .tour-dates .dates li .city {
  font-weight: 700;
}

#tour .tour-dates .dates li .location {
  font-weight: 300;
  font-size: 1rem;
}

#tour .tour-dates .dates li .date {
  font-weight: 500;
  color: #48b2f0;
}

footer {
  background: #ffffff;
  position: relative;
  z-index: 4;
  padding: 25px;
  text-align: center;
}

footer a {
  color: #48b2f0;
}

footer p {
  font-size: 1.3rem;
  font-weight: 600;
}

footer img {
  max-width: 150px;
}

@media (max-width: 1181px) {
  #top-section #links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #top-section #links nav {
    margin-right: 0;
  }
  #top-section #links nav a {
    color: #000000;
  }
}
/*# sourceMappingURL=main.css.map */